@model TicketManagement.WebMVC.ViewModels.EventViewModels.EventViewModel

<form method="post" asp-controller="EventManager" asp-action="UpdateEvent">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
    </div>

    <input type="hidden" asp-for="LayoutId" />

    <div>
        <label asp-for="StartDateTime"></label><br />
        <input asp-for="StartDateTime" />
    </div>

    <div>
        <label asp-for="EndDateTime"></label><br />
        <input asp-for="EndDateTime" />
    </div>
    <div>
        <label asp-for="ImageUrl"></label><br />
        <input asp-for="ImageUrl" />
    </div>

    <div>
        <input type="submit" value="Update event" />
    </div>
</form>

<form method="post" asp-controller="EventManager" asp-action="UpdateLayoutId">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="StartDateTime" />
    <input type="hidden" asp-for="EndDateTime" />
    <input type="hidden" asp-for="ImageUrl" />

    <div>
        <label asp-for="LayoutId"></label><br />
        <input asp-for="LayoutId" />
    </div>

    <div>
        <input type="submit" value="Update event" />
    </div>
</form>

