.esh-catalog-button.is-disabled {
    position: relative; /* Относительное позиционирование */
    opacity: 0.5;
    pointer-events: none;
}

    .esh-catalog-button.is-disabled::after {
        content: attr(data-tooltip); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        width: 300px; /* Ширина подсказки */
        left: 0;
        top: 0; /* Положение подсказки */
        background: #3989c9; /* Синий цвет фона */
        color: #fff; /* Цвет текста */
        padding: 0.5em; /* Поля вокруг текста */
        box-shadow: 2px 2px 5px #000000;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
        pointer-events: auto; /* Подсказка */
        opacity: 0; /* Подсказка невидима */
        transition: 1s; /* Время появления подсказки */
    }

.esh-catalog-button.is-disabled:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 0; /* Положение подсказки */
}
