@model TicketManagement.WebMVC.ViewModels.AccountViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["LoginToTheApplication"]</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="@Localizer["LogIn"]" />
    </div>
</form>

<p>
    @Localizer["ListOfTestUsers"]
</p>
<p>
    eventManager:   <b>eventManager@gmail.com</b>   Password: <b>_Aa123456</b>
</p>
<p>
    user:           <b>firstUser@gmail.com</b>      Password: <b>_Aa123456</b>
</p>