.grid {
    margin: auto;
    display: grid;
    width: 1000px;
    grid-template-areas:
"header"
"content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #eff2f5;
}