<section class="col-lg-4 col-md-5 col-xs-12">
    <div class="esh-identity">
        <section class="esh-identity-section">
            <div class="esh-identity-item">
                <a asp-area="" asp-controller="Account" asp-action="SignIn" class="esh-identity-name esh-identity-name--upper">
                    Login
                </a>
            </div>
        </section>
    </div>
</section>

<section class="col-lg-1 col-xs-12">
</section>