@model TicketManagement.WebMVC.ViewModels.EventViewModels.IndexViewModel

@{ ViewData["Title"] = "Events"; }

<div class="container">

    @if (Model.EventItems.Count() > 0)
    {
<div class="esh-event-items row">
    @foreach (var eventItem in Model.EventItems)
    {
<div class="esh-event-item col-md-4">
    <partial name="_product" model="eventItem" />
</div>}
</div> }
            else
            {
<div class="esh-event-items row">
    THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
</div>}
</div>