@model TicketManagement.WebMVC.ViewModels.EventViewModels.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{ ViewData["Title"] = "Events"; }

<div class="container">
    @if (Model.EventItems.Any())
    {
        <div class="esh-event-items row">
            @foreach (var eventItem in Model.EventItems)
            {
                <div class="esh-event-item col-md-4">
                    <partial name="_product" model="eventItem" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="esh-event-items row">
            @_localizer["ThereIsNoSuchEvent"]
        </div>
    }
</div>
