@model TicketManagement.WebMVC.ViewModels.EventAreaViewModels.IndexViewModel

@{ ViewData["Title"] = "EventAreas"; }

<div class="container">

    @if (Model.EvenAreatItems.Count() > 0)
    {
    <div class="esh-event-area-items row">
        @foreach (var eventAreaItem in Model.EvenAreatItems)
        {
        <div class="esh-event-area-item col-md-4">
            <partial name="_eventArea" model="eventAreaItem" />
        </div>
        }
    </div> 
    }
    else
    {
    <div class="esh-event-area-items row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>}
</div>  