@model TicketManagement.WebMVC.ViewModels.EventAreaViewModels.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{ ViewData["Title"] = "EventAreas"; }

<div class="container">

    @if (Model.EventAreasItems.Any())
    {
        <div class="esh-event-area-items row">
            @foreach (var eventAreaItem in Model.EventAreasItems)
            {
                <div class="esh-event-area-item col-md-4">
                    <partial name="_eventArea" model="eventAreaItem" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="esh-event-area-items row">
            @_localizer["ThereIsNoSuchEvent"]
        </div>}
</div>  